<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/unique.css">

</head>
<body>

    <div class="content">
    <h1 class="main-title">Від ніжності до пристрасті</h1>

    <div class="section">
        <h2>Ніжність і краса</h2>
        <ul class="list">
            <li>Ніжна, як вранішня роса, що сяє у променях сонця.</li>
            <li>Тендітна, як пелюстка квітки на гладінні води.</li>
            <li>Турботлива, неначе промінь світла, що зігріває навіть у найпохмуріші дні.</li>
            <li>Красива, як квітка, що розквітає на скелястому березі.</li>
            <li>Незрівнянна, як перший подих весни після довгої зими.</li>
        </ul>
    </div>

    <div class="section">
        <h2>Емоції та почуття</h2>
        <ul class="list">
            <li>Коли ти поруч, мій світ завмирає, і здається, що всі турботи зникають.</li>
            <li>Коли ти посміхаєшся, я відчуваю, як наповнююся теплом і щастям.</li>
            <li>Коли я дивлюсь на тебе, ти надихаєш мене творити і створювати щось прекрасне.</li>
            <li>Твій голос приносить мені неймовірну радість.</li>
            <li>Ти неначе інтернет — в тобі я знаходжу все, що мені потрібно.</li>
        </ul>
    </div>

    <div class="section">
        <h2>Пристрасть і захоплення</h2>
        <ul class="list">
            <li>Не порівняно чарівна, як нічне небо, з тисячами зірками.</li>
            <li>Приваблива, як вогонь, до якого неможливо не наблизитись.</li>
            <li>Спокуслива для мене, як яблуко Едему для Єви.</li>
            <li>Пристрасна, як океан, що ніколи не знає спокою.</li>
        </ul>
    </div>

    <div class="section">
        <h2>Сила і натхнення</h2>
        <ul class="list">
            <li>Цілеспрямована, неначе паросток, що завжди знаходить собі шлях нагору.</li>
            <li>Ти надихаєш мене бути найкращою версією себе.</li>
        </ul>
    </div>

    <div class="button-container">
        <button id="nextPageButton" class="next-button">allons-y</button>
    </div>
</div>



<script src="../static/js/unique.js"></script>
</body>
</html>